@import '../../styles/variables';

form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

  button {
    background-color: $primary;
    border: none;
    border-radius: $border-radius;
    color: $white;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;

    &:disabled {
      background: graytext;
      border: 1px solid $border-color;
    }
  }

  div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  input {
    border: 1px solid $border-color;
    border-radius: 5px;
    display: block;
    font-size: 1.2rem;
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    margin-top: -8px;
  }

  .error {
    font-size: .8rem;
    color: $error;
  }

  .ng-valid[required], .ng-valid.required {
    border-left: 5px solid $success;
  }

  .ng-dirty.ng-invalid:not(form)  {
    border-left: 5px solid $error;
  }

}

.success {
  font-weight: 700;
  color: $success;
}
