/* Shared variables to be included in component stylesheets */

/**********************************************************************
                            Color Palette
***********************************************************************/
$black: #1b1c25;
$white: #ffffff;

$primary: #2b3487;
$secondary: #e8084d;

$background-primary: #fafafa;
$background-secondary: #f5f5f5;

$success: #18db71;
// $warning: #ffb300;
$error: #ec2125;

$border-color: #ddd;
$header-color: #555;
$link-color: #f63;

/**********************************************************************
                              Typography
***********************************************************************/
$font-stack: 'Open Sans', Arial, sans-serif;

/**********************************************************************
                                Layout
***********************************************************************/
