/* Shared variables to be included in component stylesheets */

/**********************************************************************
                            Color Palette
***********************************************************************/
$black: #1b1c25;
$white: #ffffff;

$primary: #f63;
$background-primary: #fafafa;
$background-secondary: #f5f5f5;

$success: #18db71;
$warning: #ffb300;
$error: #ec2125;

$border-color: #ddd;
$header-color: #555;
$link-color: #f63;
$link-hover-color: #e53900;

/**********************************************************************
                              Typography
***********************************************************************/
$font-stack: 'Open Sans', Arial, sans-serif;
$header-font-stack: Arvo, 'Open Sans', Arial, sans-serif;

/**********************************************************************
                                Layout
***********************************************************************/
$border-radius: 5px;
