/* Global Styles */

@import './variables';

*, body {
  color: rgba($black, .8);
  font-family: $font-stack;
  font-weight: 400;
  font-size: 14px;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}
